In [49]:
"Area of circle"
import math
r = int(input('Enter radius'))

area = math.pi * r * r
print('The area of circle is :', area)

Enter radius4
The area of circle is : 50.26548245743669

In [50]:
"Print a number "
d = 1
if d == 1:
    print('one')

one

In [51]:
"Checking a String"
str = 'no'
if str == 'yes':
    print('You said yes')
    print('This is what you said')
    print('your response is good')

In [52]:
"Even and Odd"
n = int(input('Enter a number:'))

if n % 2 == 0:
    print('The number is even')
else:
    print('The number is odd')

Enter a number:4
The number is even

In [7]:
"Check numbers between 1 and 10 "
x= int(input('Enter a number between 1 and 10: '))

if 1 <= x <= 10:
    print('The number is between 1 and 10')
else:
    print('The number is not between 1 and 10')

Enter a number between 1 and 105
The number is between 1 and 10

In [11]:
"Checking if a number is +ve, -ve or Zero"
n = int(input('enter a number'))
if n > 0:
    print('The number is positive')
elif n < 0:
    print('The number is negative')
else:
    print('The number is zero')

enter a number-3
The number is negative

In [14]:
"Practice if else"
x = int(input('Enter a number between 1 and 9: '))
if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('Four')
elif x == 5:
    print('Five')
elif x == 6:
    print('Six')
elif x == 7:
    print('Seven')
elif x == 8:
    print('Eight')
elif x == 9:
    print('Nine')
else:
    print('Please enter a number Between 1 and 9')

Enter a number between 1 and 9: 6
Six

In [16]:
"Print Numbers from 1 to 10"
x = 1
while x <= 10:
    print(x)
    x += 1
print('End of program')

1
2
3
4
5
6
7
8
9
10
End of program

In [17]:
"Printing even numbers from 100 and 200"
x = 100
while x <= 200:
    if x % 2 == 0:
        print(x)
    x += 1
print('End of program')

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
End of program

In [19]:
"Printing a string character by character"
str = 'akash'
for ch in str:
    print(ch)

a
k
a
s
h

In [53]:
"Printing odd number between a range"
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [22]:
"Printing even numbers using for loops"
for i in range(100, 200, 2):
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [23]:
"Printing numbers in reverse order"
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [24]:
"Printing every element of a list"
li = [10,20,5,'A', 'Hindustan']
for i in li:
    print(i)

10
20
5
A
Hindustan

In [25]:
"Finding sum of every list element using For loop"
li = [10,30,5,33,52,4,443,5]

sum = 0
for i in li:
    sum += i
print('Sum is = ', sum)

Sum is =  582

In [31]:
"Finding sum of every list element using While loop"
li = [192,4,15,3,34]
sum = 0
i = 0
while i<len(li):
    sum += li[i]
    i += 1
print('Sum is = ', sum)

Sum is =  248

In [34]:
"Printing right angle triange"
for i in range(1,11):
    for j in range(1,i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [41]:
"Printing right angle triange using just one loop"
for i in range(1, 11):
    print('*' *(i))

*
**
***
****
*****
******
*******
********
*********
**********

In [54]:
"Printing a right angle triange "
for i in range(1,11):
    for j in range(11-i-1):
        print(" ", end="")
    for j in range(i):
        print('*', end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [59]:
"Printing a equilateral triange"
n = 40
for i in range(1,11):
    print("  "*n, end=" ")
    print(' * '*(i))
    n -= 1

                                                                                  *
                                                                                *  *
                                                                              *  *  *
                                                                            *  *  *  *
                                                                          *  *  *  *  *
                                                                        *  *  *  *  *  *
                                                                      *  *  *  *  *  *  *
                                                                    *  *  *  *  *  *  *  *
                                                                  *  *  *  *  *  *  *  *  *
                                                                *  *  *  *  *  *  *  *  *  *

In [64]:
"Numbers from 1 to 100 in 10 rows and 10 cols"

for i in range(1,11):
    for j in range(1,11):
        print('{:8}'.format(i*j), end="")
    print()

       1       2       3       4       5       6       7       8       9      10
       2       4       6       8      10      12      14      16      18      20
       3       6       9      12      15      18      21      24      27      30
       4       8      12      16      20      24      28      32      36      40
       5      10      15      20      25      30      35      40      45      50
       6      12      18      24      30      36      42      48      54      60
       7      14      21      28      35      42      49      56      63      70
       8      16      24      32      40      48      56      64      72      80
       9      18      27      36      45      54      63      72      81      90
      10      20      30      40      50      60      70      80      90     100

In [66]:
"Searching of a number in a list"
group = [1,2,3,4,5,6,7,8,9,10]
n = int(input('Enter number you want to search: '))

for i in group:
    if i == n:
        print('The number is found in the group')
        break
else:
    print('The number is not found in the group')

Enter number you want to search: 55
The number is not found in the group

In [70]:
"use of break statement"
x = 10
while x >= 1:
    print('x = ', x)
    x -= 1
    if x == 5:
        break
print('Out of loop because of break')

x =  10
x =  9
x =  8
x =  7
x =  6
Out of loop because of break

In [72]:
"The continue statement"
x = 0
while x <= 10:
    x += 1
    if x > 5:
        continue
    print('x = ', x)
print('Out of loop')

x =  1
x =  2
x =  3
x =  4
x =  5
Out of loop

In [74]:
"The pass statement"

x = 0
while x < 10:
    x += 1
    if x > 5:
        pass
    print('x = ', x)
print('Out of the loop')

x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9
x =  10
Out of the loop

In [76]:
l = [1,-3,5,-7,8,-9,-2,4,-44]
for i in l:
    if i < 0:
        print(i)

-3
-7
-9
-2
-44

In [81]:
"Assert statement"

n = int(input('Enter a number greater than 0: '))
try:
    assert(n > 0)
    print('U entered', n)
except AssertionError:
    print('Wrong input entered')

Enter a number greater than 0: -4
Wrong input entered

In [88]:
"Prime number print without function"

ax  = int(input("Upto what number? "))
for num in range(2, ax+1):
    for i in range(2, num):
        if (num % i ) == 0:
            break
        else:
            print(num)

Upto what number? 30
3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29

In [89]:
"Fibbonacci series without function"

n = int(input('Enter how many fibbonacci? '))
f1 = 0
f2 = 1
c = 2

if n == 1:
    print(f1)
elif n == 2:
    print(f1, '\n', f2, sep='')
else:
    print(f1, '\n', f2, sep='')
    while c < n:
        f = f1 + f2
        print(f)
        f1, f2 = f2, f
        c += 1

Enter how many fibbonacci? 10
0
1
1
2
3
5
8
13
21
34

In [94]:
import math 
math.sin(90)

0.8939966636005579